.layerMark{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	opacity: 0.4;
}
#main{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	clear: both;
}
#loginForm{
	width: 100%;
	display: inline-block;
	color: #495c81;
	height: 560px;
}
#loginForm .logTable{
	width: 300px;
	position: relative;
	margin: 0 auto;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: #878787;
}
.logo{
	margin-bottom: 60px;
	margin-top: 60px;
}
.mobile{
	border: 0;
	border-bottom: solid 1px #000;
	font-size: 18px;
	width: 265px;
	height: 34px;
	background: url("http://www.iliangcang.com/images/nlphone.png") no-repeat 0 6px;
	padding-left: 35px;
}
input{
	resize: none;
	outline: none;
	font-family: 'Hiragino Sans GB','冬青黑体','Hiragino Kaku Gothic ProN','Microsoft Yahei' ,'Simsun','Arial', 'Helvetica', 'sans-serif';
}
.code{
	border: 0;
	border-bottom: 1px solid #000;
	font-size: 18px;
	width: 137px;
	height: 34px;
	float: left;
	background: url("http://www.iliangcang.com/images/nlcode.png") no-repeat 2px 8px;
	padding-left: 35px;

}
.yz{
	position: relative;
	padding-top: 22px;
}
.scode{
	border: 1px solid #000;
	height: 35px;
	line-height: 34px;
	width: 110px;
	font-size: 16px;
	margin-left: 12px;
	border-radius: 4px;
	color: #333;
	float: right;
	cursor: pointer;
}
.loginCheck{
	padding-top: 22px;
	color: #000;
}
.checkBox{
	vertical-align: middle;
}
.loginCheck>span{
	vertical-align: middle;
}
.lB{
	padding-top: 22px;
}
.loginBtn{
	border-radius: 4px;
	font-weight: normal;
	cursor: pointer;
	width: 300px;
	height: 50px;
	border: 0;
	background: #25292e;
	font-size: 18px;
	color: #fff;
	margin-top: 9px;
	margin-bottom: 30px;

}
.moreLogin{
	color: #000;
	font-size: 15px;
}
.verify_content{
	display: block;
	position: absolute;
	width: 300px;
	height: 220px;
	top: 50%;
	z-index: 1000;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
}
.codeBtn{
	width: 300px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	text-align: center;
	background-color: #ededed;
}
.codeimg{
	margin-top: 20px;
	margin-left: 20px;
	border: 0;
	border-bottom: 1px solid #000;
	font-size: 18px;
	width: 100px;
	height: 34px;
	float: left;
	background: url("http://www.iliangcang.com/images/nlcode.png") no-repeat 2px 8px;
	padding-left: 35px;
}
.picBtn{
	margin-top: 20px;
	margin-right: 20px;
	border: 0px solid #000;
	height: 34px;
	line-height: 34px;
	width: 110px;
	font-size: 16px;
	margin-left: 12px;
	border-radius: 4px;
	color: #333;
	float: right;
	cursor: pointer;
}
.changPic{
	width: 110px;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	margin-top: -8px;
}
.oksend{
	width: 260px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 40px 20px 0 0;
	border: 1px solid #000;
	font-size: 16px;
	border-radius: 4px;
	color: #333;
	float: right;
	cursor: pointer;
}